* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: white;
}

:root {
    --uicol-light: #202C33;
    --uicol-dark: #111B21;
    --uicol-hover: #ffffff19;

    --uicol-light-stroke: #2F3B43;
    --uicol-dark-stroke: #262E34;
    --uicol-contact-stroke: #222D34;

    --uicol-text-light: #8696A0;

    --uicol-highlight: #00A884;
    --uicol-selected: #0A332C;
}

.clickable {
    cursor: pointer;
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

aside {
    flex-grow: 1;

    display: flex;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: var(--uicol-dark-stroke);
}

/* Menus */

nav {
    width: 60px;
    height: 100%;
    background-color: var(--uicol-light);

    display: flex;
    flex-direction: column;

    padding-block: 10px;
    align-items: center;
    place-content: space-between;

    border-right-style: solid;
    border-right-width: 1px;
    border-color: var(--uicol-light-stroke);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-item {
    display: flex;
    align-items: center;
    place-content: center;
    cursor: pointer;

    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.nav-item:hover {
    background-color: var(--uicol-hover);
}

/* Lista de Contatos */

.contact-list {
    width: 100%;
    padding-inline: 24px;
    background-color: var(--uicol-dark);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-list-header {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    width: 100%;
    box-sizing: border-box;

    font-size: 16px;
    color: white;
}

.contactlist-side-buttons {
    display: flex;
    flex-direction: row;
}

.chat-search-bar {
    background-color: var(--uicol-light);
    appearance: none;
    height: 2rem;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
}

.lupa-icon {
    margin-left: 12px;
}

input {
    width: 100%;
    height: 100%;

    background-color: transparent;
    border: none;
    outline: none;
    caret-color: white;

    color: white;
    font-size: 1rem;
    /* Falta tirar o x de Limpar input */
}

.chat-filters {
    display: flex;
    gap: 8px;

    text-align: center;
    color: var(--uicol-text-light);
}

.filter {
    padding-inline: 12px;
    padding-block: 6px;
    background-color: var(--uicol-light);
    border-radius: 15px;
}

.filter.selected {
    background-color: var(--uicol-selected);
    color: var(--uicol-highlight);
}

.archive {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;

    gap: 29px;
    height: 46px;


}

h3 {
    font-weight: 350;

}

.archive p {
    color: var(--uicol-highlight);
    position: absolute;
    right: 0px;
}

/* Contatos */

.contact {
    height: 72px;
    display: flex;
    gap: 16px;
    align-items: center;
    padding-block:16px ;

    
}
.profile-photo{
    width: 50px;
    height: 50px;
}

.chat-details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-color: var(--uicol-dark-stroke);
}

.contact-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.message-preview{
    color: var(--uicol-text-light);
}



/* Chat */


main {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

.chat-header {
    height: 60px;
    background-color: var(--uicol-light);
}



.chat-body {
    flex-grow: 1;
    background-color: var(--uicol-dark);
}

.chat-footer {
    height: 60px;
    background-color: var(--uicol-light);
}